html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    /* background: linear-gradient(45deg, #bcc0d3, transparent);; */
    background: linear-gradient(45deg, #b4cfff, transparent);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator {
    width: 400px;
    height: 595px;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 25%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#display {
    border: 2px solid #000000b0;
    padding: 5px;
    margin-bottom: 15px;
    height: 110px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2.2rem;
    font-family: monospace;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(241, 241, 241, 0.4);
}

#btn-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-family: monospace;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 3px;
}

.btns-1 .button:hover,
.operator:hover {
    background-color: rgba(245, 245, 245, 0.65);
}

.btns-2 {
    justify-content: flex-end;
    font-weight: bold;
    color: darkblue;
}

.button {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 1.3rem;
    box-sizing: border-box;
    font-weight: bold;
}

#clear,
#backspace,
#negate,
#decimal,
#percent {
    font-weight: bold;
}

.clear {
    color: red;
    font-size: 1.5rem;
}

#clear.clear-pressed {
    background-color: rgb(255, 91, 91);
    color: white;
}

#decimal {
    align-items: flex-end;
    padding-bottom: 15px;
}

#percent {
    font-family: 'Courier New', Courier, monospace;
}

#equals {
    background-color: #00e300eb;
    color: white;
}

#equals:hover {
    background-color: #35fd35eb;
}
.operator-pressed {
    background-color: rgb(230, 230, 230);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.7rem;
    }

    #calculator {
        width: 280px;
        height: 420px;
        padding: 10px;
    }

    #display {
        height: 77px;
        font-size: 1.5rem;
    }

    .button {
        height: 63px;
        width: 63px;
        font-size: 1.2rem;
    }

    #clear {
        font-size: 1.4rem;
    }
}