html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.container {

}

#calculator {
    width: 450px;
    height: 600px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#display {
    border: 1px solid black;
    margin-bottom: 10px;
    height: 110px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
}

#btn-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btns-1 {
    min-width: 350px;
}

.button {
    width: 90px;
    height: 90px;
    border: 1px solid black;
}