html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#calculator {
    width: 400px;
    height: 600px;
    border: 2px solid black;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

#display {
    border: 1px solid black;
    margin-bottom: 10px;
    height: 110px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2.3rem;
    font-family: monospace;
}

#btn-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-family: monospace;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btns-2 {
    justify-content: flex-end;
    font-weight: bold;
    color: darkblue;
}

.button {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 1.3rem;
    box-sizing: border-box;
}

#clear,
#backspace,
#negate,
#decimal,
#percent {
    font-weight: bold;
}

#clear {
    color: red;
}

#decimal {
    align-items: flex-end;
    padding-bottom: 15px;
}

#equals {
    background-color: #00e300eb;
    color: white;
}

.operator-pressed {
    background-color: rgb(230, 230, 230);
}